In [7]:
import os
from sqlalchemy import create_engine
import pandas as pd
import psygcopg2 as ps
# Important!! Make sure you have a config.py file w/ your password and username. Put in gitignore, don't
# give away your password!!
from config import password
from config import user

In [10]:
conn = f"postgresql://{user}:{password}@127.0.0.1:5432/Final_Project"
engine = create_engine(conn)

In [11]:
# Creating a dataframe from an SQL query with pandas
df = pd.read_sql_query('SELECT * from customer_data', con=conn)

In [12]:
df.head()

,id,marital_status,gender,total_children,education,member_card,occupation,houseowner,avg_cars_at_home_approx,avg_yearly_income,num_children_at_home,store_city,store_state,media_type,cost,promotion_name
0,0,M,F,1.0,Partial High School,Normal,Skilled Manual,Y,1.0,$10K - $30K,1.0,Salem,OR,"Daily Paper, Radio",126.62,Bag Stuffers
1,1,M,M,0.0,Bachelors Degree,Silver,Professional,Y,4.0,$50K - $70K,0.0,Salem,OR,"Daily Paper, Radio",59.86,Cash Register Lottery
2,2,S,F,4.0,Partial High School,Normal,Manual,N,1.0,$10K - $30K,0.0,Salem,OR,"Daily Paper, Radio",84.16,High Roller Savings
3,3,M,F,2.0,High School Degree,Bronze,Manual,Y,2.0,$30K - $50K,2.0,Salem,OR,In-Store Coupon,95.78,Cash Register Lottery
4,4,M,M,0.0,Partial High School,Bronze,Skilled Manual,N,2.0,$30K - $50K,0.0,Salem,OR,Radio,50.79,Double Down Sale