In [31]:
# Import models and dependencies 

import pandas as pd 
import sklearn.datasets
import matplotlib.pyplot as plt 
import numpy as np 
import plotly.express as px 
import tensorflow as tf 
import hvplot.pandas 

from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.cluster import KMeans
from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import tensorflow as tf

In [32]:
# Read dataset
data_set_df = pd.read_csv("/Users/carlosmorales/Capstone_Final_Group_Project/final_data_set.csv")
data_set_df

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,grocery_sqft,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type,cost
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4.0,Bag Stuffers,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",126.62
1,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3.0,Cash Register Lottery,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",59.86
2,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2.0,High Roller Savings,USA,S,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",84.16
3,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2.0,Cash Register Lottery,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,In-Store Coupon,95.78
4,Breakfast Foods,Frozen Foods,Food,4.08,1.4280,3.0,Double Down Sale,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,Radio,50.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60423,Specialty,Carousel,Non-Consumable,2.76,1.3248,1.0,You Save Days,USA,M,F,...,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,In-Store Coupon,95.25
60424,Specialty,Carousel,Non-Consumable,1.60,0.4960,1.0,Price Cutters,USA,S,F,...,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,Sunday Paper,69.42
60425,Specialty,Carousel,Non-Consumable,5.52,2.5392,2.0,Weekend Markdown,USA,M,M,...,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,"Sunday Paper, Radio, TV",67.51
60426,Specialty,Carousel,Non-Consumable,8.28,2.5668,3.0,Sales Days,Canada,S,M,...,27463.0,4193.0,2795.0,1.0,0.0,0.0,0.0,1.0,Sunday Paper,132.88
60427,Specialty,Carousel,Non-Consumable,9.20,4.2320,4.0,Super Duper Savers,Canada,S,F,...,27463.0,4193.0,2795.0,1.0,0.0,0.0,0.0,1.0,"Daily Paper, Radio",87.76

In [33]:
# Get column names 
print(data_set_df.columns)

Index(['food_category', 'food_department', 'food_family',
       'store_sales(in millions)', 'store_cost(in millions)',
       'unit_sales(in millions)', 'promotion_name', 'sales_country',
       'marital_status', 'gender', 'total_children', 'education',
       'member_card', 'occupation', 'houseowner', 'avg_cars_at home(approx)',
       'avg. yearly_income', 'num_children_at_home',
       'avg_cars_at home(approx).1', 'brand_name', 'SRP', 'gross_weight',
       'net_weight', 'recyclable_package', 'low_fat', 'units_per_case',
       'store_type', 'store_city', 'store_state', 'store_sqft', 'grocery_sqft',
       'frozen_sqft', 'meat_sqft', 'coffee_bar', 'video_store', 'salad_bar',
       'prepared_food', 'florist', 'media_type', 'cost'],
      dtype='object')

In [34]:
# Information about columns
data_set_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60428 entries, 0 to 60427
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   food_category               60428 non-null  object
 1   food_department             60428 non-null  object
 2   food_family                 60428 non-null  object
 3   store_sales(in millions)    60428 non-null  float64
 4   store_cost(in millions)     60428 non-null  float64
 5   unit_sales(in millions)     60428 non-null  float64
 6   promotion_name              60428 non-null  object
 7   sales_country               60428 non-null  object
 8   marital_status              60428 non-null  object
 9   gender                      60428 non-null  object
 10  total_children              60428 non-null  float64
 11  education                   60428 non-null  object
 12  member_card                 60428 non-null  object
 13  occupation                  60428 non-null  object
 14  houseowner                  60428 non-null  object
 15  avg_cars_at home(approx)    60428 non-null  float64
 16  avg. yearly_income          60428 non-null  object
 17  num_children_at_home        60428 non-null  float64
 18  avg_cars_at home(approx).1  60428 non-null  float64
 19  brand_name                  60428 non-null  object
 20  SRP                         60428 non-null  float64
 21  gross_weight                60428 non-null  float64
 22  net_weight                  60428 non-null  float64
 23  recyclable_package          60428 non-null  float64
 24  low_fat                     60428 non-null  float64
 25  units_per_case              60428 non-null  float64
 26  store_type                  60428 non-null  object
 27  store_city                  60428 non-null  object
 28  store_state                 60428 non-null  object
 29  store_sqft                  60428 non-null  float64
 30  grocery_sqft                60428 non-null  float64
 31  frozen_sqft                 60428 non-null  float64
 32  meat_sqft                   60428 non-null  float64
 33  coffee_bar                  60428 non-null  float64
 34  video_store                 60428 non-null  float64
 35  salad_bar                   60428 non-null  float64
 36  prepared_food               60428 non-null  float64
 37  florist                     60428 non-null  float64
 38  media_type                  60428 non-null  object
 39  cost                        60428 non-null  float64
dtypes: float64(23), object(17)
memory usage: 18.4+ MB

In [ ]:
# Drop non-beneficial ID columns
application_df = application_df.drop(columns=['food category', 'food_department', 'food_family', 'store_sales(in millions)', 'store_cost(in millions)', 
                                              'unit_sales(in millions)', 'promotion_name' '])

In [35]:
# Finding any missing values
data_set_df.isnull().sum()

food_category                 0
food_department               0
food_family                   0
store_sales(in millions)      0
store_cost(in millions)       0
unit_sales(in millions)       0
promotion_name                0
sales_country                 0
marital_status                0
gender                        0
total_children                0
education                     0
member_card                   0
occupation                    0
houseowner                    0
avg_cars_at home(approx)      0
avg. yearly_income            0
num_children_at_home          0
avg_cars_at home(approx).1    0
brand_name                    0
SRP                           0
gross_weight                  0
net_weight                    0
recyclable_package            0
low_fat                       0
units_per_case                0
store_type                    0
store_city                    0
store_state                   0
store_sqft                    0
grocery_sqft                  0
frozen_sqft                   0
meat_sqft                     0
coffee_bar                    0
video_store                   0
salad_bar                     0
prepared_food                 0
florist                       0
media_type                    0
cost                          0
dtype: int64

In [36]:
# Generate categorical variable list
final_cat = data_set_df.dtypes[data_set_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
data_set_df[final_cat].nunique()

food_category          45
food_department        22
food_family             3
promotion_name         49
sales_country           3
marital_status          2
gender                  2
education               5
member_card             4
occupation              5
houseowner              2
avg. yearly_income      8
brand_name            111
store_type              5
store_city             19
store_state            10
media_type             13
dtype: int64

In [ ]:
### Cleaning and Preprocessing the data

In [38]:
# binary encode the data
# Consider one hot encoding instead
df_binary_encoded = pd.get_dummies(final_cat, columns=["food_category", "food_department", "food_family", "promotion_name", 
                                               "sales_country", "marital_status", "gender", "education", "occupation",
                                                "houseowner", "avg. yearly_income", "brand_name", "store_type",
                                               "store_city", "store_state", "media_type"])
# member_card
df_binary_encoded.head()

,avg. yearly_income,brand_name,education,food_category,food_department,food_family,gender,houseowner,marital_status,media_type,member_card,occupation,promotion_name,sales_country,store_city,store_state,store_type
0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

In [21]:
# Check the unique value counts to see if binning is required
data_set_df.member_card.value_counts()

Bronze    33807
Normal    13867
Golden     7556
Silver     5198
Name: member_card, dtype: int64

In [20]:
# Check the unique value counts to see if binning is required
data_set_df.brand_name.value_counts()

Hermanos     1839
Ebony        1729
Tell Tale    1728
Tri-State    1633
High Top     1592
             ...
ADJ            56
Symphony       49
Prelude        45
Toretti        39
King           36
Name: brand_name, Length: 111, dtype: int64

In [39]:
# Check the unique value counts to see if binning is required
data_set_df.food_family.value_counts()

Food              43284
Non-Consumable    11573
Drink              5571
Name: food_family, dtype: int64

In [12]:
# Check the unique value counts to see if binning is required
data_set_df.occupation.value_counts()

Professional      19915
Skilled Manual    15995
Manual            14624
Management         8805
Clerical           1089
Name: occupation, dtype: int64

In [18]:
# Check the unique value counts to see if binning is required
data_set_df.store_city.value_counts()

Tacoma           5704
Salem            5478
Portland         5150
Seattle          5051
Hidalgo          4761
Merida           4498
Spokane          4453
Beverly Hills    4151
Los Angeles      3960
Bremerton        3451
Vancouver        3384
Orizaba          2621
Camacho          2352
Acapulco         1506
Mexico City      1395
San Francisco     783
Bellingham        711
Victoria          580
Guadalajara       439
Name: store_city, dtype: int64